.menu {
  padding: .8vw .8vw;
  background-color: #FECF07;
  position: absolute;
  top: 50vw;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  border-radius: 25px;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  letter-spacing: .1vw;
  filter: drop-shadow(10px 10px 10px #666); 

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(128, 128, 128);
    transition: color .35s;
    // cursor: pointer;
    text-transform: uppercase;
  }

  a {
    text-transform: uppercase;
    color: #000;
    font-size: 1vw;
    font-weight: 400;
  }

  a.active {
    font-weight: 700;
  }

  span {
    color: #ffffff;
  }
}

.video-menu {
  position: absolute;
  top: 45vw;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 43%;
  border-radius: 25px;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;

  img {
    width: 20vw;
    filter: drop-shadow(5px 5px 5px #666); 
  }

  img:hover {
    filter: drop-shadow(5px 5px 5px #333); 
  }
}